:root {
  --size: 130px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--size));
  grid-template-rows: repeat(auto-fit, var(--size));
  gap: 10px;
}

button {
  border: none;
  color: white;
  background-color: rgb(44, 175, 131);
  border-bottom: solid 4px rgb(33, 119, 90);
  border-radius: 4px;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(23, 134, 97);
  border-color: rgb(25, 102, 76);
}

button.active {
  background-color: rgb(23, 134, 97);
  border-color: rgb(25, 102, 76);
}